body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}
/* Header */
.header {
  background-color: lightgrey;
  text-align: center;
  font-size: 2em;
}

/* Canvas related */
canvas {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* Selections de niveaux */

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  text-align: center;
  padding: 1em;
}
li {
  padding: 1em;
  border: 1px solid grey;
  margin-bottom : 5px;
}
a {
  text-decoration: none;
  color: black;
}